.col-md-12
	.panel.panel-primary
		.panel-body
			
			.questions= @question.body
			%table

				- if params[:answer_id] == "#{@question.right_answer_id}"
					
					%b Het goede antwoord is:
					%br
					.alert.alert-success
						= @answer.body
					.alert.alert-warning
						%b Uitleg:
						%br
						= @question.explanation

					= link_to 'Volgende', question_path(0), class: 'btn btn-success pull-right'


				- elsif params[:answer_id] && params[:answer_id].present? != "#{@question.right_answer_id}"

					%b Het goede antwoord is:
					%br
					.alert.alert-success
						= @answer.body
					%b U gegeven antwoord:
					%br
					.alert.alert-danger
						= @given_answer.body

					%b Uitleg: 
					%br
					.alert.alert-warning
						= @question.explanation

					= link_to 'Volgende', question_path(0), class: 'btn btn-success pull-right'
				-else
					%tr
						- for answer in @question.answers
							.answer		
								= link_to (answer.body), question_path(@question, answer_id: answer.id), class: "btn btn-default"