!!!
%html
	%head
		%title admin admin admin!!!!!!!!!!!!!!!

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true

    
		= csrf_meta_tags
  
	%body
		
		.col-sm-2
			%br
			.row
				.col-sm-12
					=image_tag "QuizLogo_110-50px-72dpi.png"
			%br
			.row
				.col-sm-12
					#menu
						%ul.list-group
							%li.list-group-item.list-group-item-info
								%b Menu
							%li.list-group-item
								%a 
									= link_to 'Vragen overzicht', admin_questions_url
							%li.list-group-item
								%a 
									= link_to 'Hoofdstukken overzicht', admin_chapters_url
							%li.list-group-item
								%a 
									= link_to 'Home', root_url
							%li.list-group-item
								%a 
									= link_to 'Results', results_url

		.col-sm-10

			= yield